<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Reliz.wideup.net/pay" parallel="false">

    <test name="Fast_Suite" >

        <classes>


            <!--<class name="Tests.Test08"/> Добавить биллера в избранное и оплатить его-->
            <class name="Tests.Test_01"/> first test



        </classes>

    </test>

</suite>

